# .gitignore

.ftpconfig

## c programing

c/**/a.out
c/**/hello
c/**/*.o
c/**/test*

## java programing

java/*.class

## test files
test*

## scala
scala/**/project
scala/**/target

## sbt
*sbt.json

## nodejs
node/**/node_modules

