# .gitignore

.ftpconfig

## c programing

c/**/a.out
c/**/hello
c/**/*.o
c/**/test*

## java programing
java/*.class

## test files
test*

## scala
scala/**/project
scala/**/target

## sbt
*sbt.json

## nodejs
node/**/node_modules
node/**/package-lock.json

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/**/*.json
mongodb/**/*.mp4
mongodb/backup

## oracle
oracle/node/node_modules
oracle/node/package-lock.json
oracle/node/dbConfig.js

## maven
maven/**/maven-*/

## enviroment files
.env

## mysql
node/**/package-lock.json

## html
html/**/media
html/**/[0-9][0-9]
html/**/[0-9]
html/**/*.png
html/**/*.jpg
html/**/*.apache2
html/**/node_modules
html/**/package-lock.json