# .gitignore

.ftpconfig

## c programing

c/**/a.out
c/**/hello
c/**/*.o
c/**/test*

## java programing

java/*.class

## test files
test*

## scala
scala/**/project
scala/**/target

## sbt
*sbt.json

## nodejs
node/**/node_modules
node/**/package-lock.json

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/*.json
mongodb/**/*.json