<h1><i>S3</i> File Managemetnt Console</h1>
<hr>

<h3>File Upload</h3>
<form action="/uploadFile" enctype="multipart/form-data" method="post">
    <input type="file" name="attachment">
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>

<iframe name="targetURL" class="iframe-previewcenter" width="70%"
        height="500"
        src="/s3List" >
</iframe>